@{
    ViewData["Title"] = "Read-Only Dialog";
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}


<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Miapp2.BasicSamples.ReadOnlyGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>