@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Priority.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Miapp2.Northwind.PriorityGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>