@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ImportFiles.Pieza.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Miapp2.ImportFiles.PiezaGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>