@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Projects.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Miapp2.Northwind.ProjectsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>