@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Design.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Miapp2.Northwind.DesignGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>