@{
    ViewBag.Title = "Resumen de costos";
}

@section ContentHeader {
    <h1>@ViewBag.Title<small></small></h1>
}



<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Miapp2.BasicSamples.CustomerGrossSalesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>