@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Registros.Registros.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Miapp2.Registros.RegistrosGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>