@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ImportFiles.Prueba.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Miapp2.ImportFiles.PruebaGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>